name: ci_cd

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Set up JDK 25
        uses: actions/setup-java@v5.2.0
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Ktlint Check
        run: ./gradlew ktlintCheck

      - name: Build and Test with RestDocs
        run: ./gradlew clean build asciidoctor

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: boom-api-jar
          path: core/core-api/build/libs/*.jar
          retention-days: 1